nav {
    place-items: center;
}
.subNav {
    place-items: center;
}

.headline {
    max-width: 700px;
}

.innerProof {
    place-items: center;
    max-width: 1000px;
}

.Div1C {
    max-width: 900px;
}

.Div2C {
    max-width: 1000px;
}

.testimonial {
    max-width: 600px;
    
}

.testContent {
    
    place-items: center;
}



.frameworks a {
    display: inline-grid;
    place-items: center;
    margin: 0;
}